{% extends 'base.html' %}
{% load static %}

{% block banner %}
  <div class="section no-pad-bot" id='index-banner'>
    <div class="container">
      <br><br>
      <h2 class="header orange-text center">Learning</h2>
      <h2 class="header col s12 light center">Earn your certicate, learn a new skill or degree here.</h2>
    </div>
    <br>
    <div class="row center">
      <a href="{% url 'categories' %}" class="btn-large orange">Browse</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <h4>Active</h4>
    <div class="divider"></div>
  </div>
  {% for course in courses %}
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ course.picture.url }}" alt="{{ course.title }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ course.title }}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Resume</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title activator grey-text text-darken-4">{{ course.description }}<i class="material-icons right">close</i></span>
    </div>
  </div>
  {% endfor %}
{% endblock %}
